<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Bienvenue sur notre site automobile</h1>
    </header>

    <nav>
        <ul id = "menu_link">
            {% for link in menu_links %}
                <li><a href="{{ link.url }}" >{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
